In [1]:
import pandas as pd

# Load the CSV files
customers_df = pd.read_csv('customers.csv')
orders_df = pd.read_csv('orders.csv')

# 1. Inner Join (only matching rows from both DataFrames)
inner_join = pd.merge(customers_df, orders_df, on="customer_id", how="inner")
print("Inner Join:\n", inner_join)

# 2. Left Join (all rows from customers, matching rows from orders)
left_join = pd.merge(customers_df, orders_df, on="customer_id", how="left")
print("\nLeft Join:\n", left_join)

# 3. Right Join (all rows from orders, matching rows from customers)
right_join = pd.merge(customers_df, orders_df, on="customer_id", how="right")
print("\nRight Join:\n", right_join)

# 4. Full Outer Join (all rows from both DataFrames, matching where possible)
outer_join = pd.merge(customers_df, orders_df, on="customer_id", how="outer")
print("\nFull Outer Join:\n", outer_join)

Inner Join:
    customer_id customer_name  order_id  order_value
0            1         Alice       101          200
1            2           Bob       102          450

Left Join:
    customer_id customer_name  order_id  order_value
0            1         Alice     101.0        200.0
1            2           Bob     102.0        450.0
2            3       Charlie       NaN          NaN

Right Join:
    customer_id customer_name  order_id  order_value
0            1         Alice       101          200
1            2           Bob       102          450
2            4           NaN       103          300

Full Outer Join:
    customer_id customer_name  order_id  order_value
0            1         Alice     101.0        200.0
1            2           Bob     102.0        450.0
2            3       Charlie       NaN          NaN
3            4           NaN     103.0        300.0

In [2]:
# Load the CSV file
sales_df = pd.read_csv('sales.csv')

# 1. Group by salesperson and calculate total sales amount for each person
total_sales_by_person = sales_df.groupby('salesperson')['amount'].sum()
print("\nTotal Sales by Salesperson:\n", total_sales_by_person)

# 2. Group by region and product, then calculate the average amount for each combination
avg_sales_by_region_product = sales_df.groupby(['region', 'product'])['amount'].mean()
print("\nAverage Sales by Region and Product:\n", avg_sales_by_region_product)

# 3. Group by product, then calculate sum and average of sales amount for each product
sales_sum_avg_by_product = sales_df.groupby('product')['amount'].agg(['sum', 'mean'])
print("\nSum and Average of Sales by Product:\n", sales_sum_avg_by_product)

Total Sales by Salesperson:
 salesperson
Alice      1500
Bob        1900
Charlie    1800
David      2200
Name: amount, dtype: int64

Average Sales by Region and Product:
 region  product
East    Laptop     1100.0
        Phone       800.0
North   Laptop     1000.0
        Phone       500.0
South   Laptop     1200.0
        Phone       600.0
West    Laptop     1300.0
        Phone       900.0
Name: amount, dtype: float64

Sum and Average of Sales by Product:
           sum    mean
product
Laptop   4600  1150.0
Phone    2800   700.0

In [3]:
# Load the CSV files
employees_df = pd.read_csv('employees.csv')
departments_df = pd.read_csv('departments.csv')

# 1. Inner join to get employee names and their department details
employee_department_join = pd.merge(employees_df, departments_df, on='dept_id', how='inner')
print("\nEmployee and Department Join:\n", employee_department_join)

# 2. Group by department and calculate the number of employees in each department
employees_by_department = employee_department_join.groupby('dept_name')['emp_id'].count()
print("\nNumber of Employees by Department:\n", employees_by_department)

# 3. Calculate the total budget allocated to the departments where employees work
total_budget_by_dept = employee_department_join.groupby('dept_name')['budget'].sum()
print("\nTotal Budget by Department:\n", total_budget_by_dept)

Employee and Department Join:
    emp_id emp_name  dept_id dept_name  budget
0       1    Alice      101        HR   50000
1       2      Bob      102        IT   75000
2       3  Charlie      101        HR   50000
3       4    David      103   Finance   60000
4       5      Eve      102        IT   75000

Number of Employees by Department:
 dept_name
Finance    1
HR         2
IT         2
Name: emp_id, dtype: int64

Total Budget by Department:
 dept_name
Finance     60000
HR         100000
IT         150000
Name: budget, dtype: int64

In [4]:
# Load the CSV files
stock_A_df = pd.read_csv('stock_A.csv')
stock_B_df = pd.read_csv('stock_B.csv')

# 1. Merge stock prices DataFrames on the date
merged_stocks = pd.merge(stock_A_df, stock_B_df, on='date', how='inner')
print("\nMerged Stock Data:\n", merged_stocks)

# 2. Calculate percentage change (daily returns) for both stock prices
merged_stocks['return_A'] = merged_stocks['price_A'].pct_change() * 100
merged_stocks['return_B'] = merged_stocks['price_B'].pct_change() * 100
print("\nDaily Returns for Stock A and Stock B:\n", merged_stocks[['date', 'return_A', 'return_B']])

# 3. Group by nothing but calculate the average daily returns for each stock
avg_returns = merged_stocks[['return_A', 'return_B']].mean()
print("\nAverage Returns for Stock A and Stock B:\n", avg_returns)

Merged Stock Data:
          date  price_A  price_B
0  2024-10-01      150      250
1  2024-10-02      155      245
2  2024-10-03      160      240
3  2024-10-04      162      242

Daily Returns for Stock A and Stock B:
          date  return_A  return_B
0  2024-10-01       NaN       NaN
1  2024-10-02  3.333333 -2.000000
2  2024-10-03  3.225806 -2.040816
3  2024-10-04  1.250000  0.833333

Average Returns for Stock A and Stock B:
 return_A    2.603047
return_B   -1.069161
dtype: float64